/*fsaf*/
nav ul {margin: 0;padding: 10px;list-style: none;}
nav li {display: inline-block;transform: 1s;}
nav a {display: block;padding: 30px;text-decoration: none;}
nav c {display: block;padding: 10px;}

/*fdsiosf*/
.fdfs{border: 1px solid #000;}
